input.ng-touched.ng-invalid{
    border-color: #dc3545;
}
div.validation-error{
    width: 100%;
    margin-top: .25rem;
    font-size: 80%;
    color: #dc3545;
}

label.required{
    position: relative;
    &:after{
        content: '*';
        position: absolute;
        left: 104%;
        top: 0;
        font-size: 12px;
        color: red;
    }
}