<h2>Inventory</h2>

<div class="inventory-btn-wrapper">
  <button class="btn btn-success btn-md">Add Unit</button>
</div>

<div class="inventory-statuses-wrapper">
  <h6>Inventory Statuses</h6>
<div class="inventory-statuses-grid">
  <div class="inventory-status" *ngFor="let inventoryStatus of inventoryStatuses">
    <span class="inventory-status__value">{{inventoryStatus.value}}</span>
    <h6 class="inventory-status__title">{{inventoryStatus.title}}</h6>
  </div>
</div>  
</div>

<h6>Inventory Details</h6>
<div class="inventory-details-wrapper">
  
</div>