// $white: #ffffff;
// $regal-blue: #2a4054;
// $alice-blue: #f1f5f8;
// $pelorous: #17a3b8;
:root {
  /* measurements */
  --header-height: 60px;
  --sidebar-width: 60px;
  --sidebar-fullwidth: 250px;
  --footer-height: 60px;
  --content-padding: 15px;
  /* colors */
  --bg-color-primary: #ffffff;
  --bg-color-secondary: #f1f5f8;

  --border-color-primary: #F7F7F7;

  --font-color-primary: #354d72;
  --font-color-secondary: #3b444f;
  --font-color-teritary: #636d73;
  --font-color-quaternary: #708095;
  --font-color-quinary: #828282;
  --font-color-senary: #9a9a9a;
  --font-color-septenary: #2f6ed3;
  --font-color-octonary: #95bdf2;
  --font-color-nonary: #547ca2;
}

[data-theme="default"] {
  --bg-color-primary: #ffffff;
  --bg-color-secondary: #f1f5f8;

  --border-color-primary: #F7F7F7;

  --font-color-primary: #354d72;
  --font-color-secondary: #3b444f;
  --font-color-teritary: #636d73;
  --font-color-quaternary: #708095;
  --font-color-quinary: #828282;
  --font-color-senary: #9a9a9a;
  --font-color-septenary: #2f6ed3;
  --font-color-octonary: #95bdf2;
  --font-color-nonary: #547ca2;

  --header-color: #ffffff;
  --header-icon-color: #cac7c5;
  --content-background-color: rgb(241, 245, 248);
  --sidebar-background-color: #116754;
  --submenu-background-color: #2a4054;
  --submenu-child-background-color: #2a4054;
  --sidebar-items-background-color: rgba(255, 255, 255, 0.2);
  --sidebar-items-background-color-hover: rgba(255, 255, 255, 0.2);
  --sidebar-font-color: rgba(255, 255, 255, 0.6);
  --sidebar-font-color-hover: rgb(255, 255, 255);
  --sidebar-font-color-active: rgb(255, 255, 255);
  --footer-bg-color: #ffffff;
  --box-shadow-primary: 0 3px 10px 0 rgba(191, 191, 191, 0.15);
  --header-border-bottom: unset;
}

[data-theme="dark"] {
  --bg-color-primary: #232c48;
  --font-color-primary: #ffffff;
  --font-color-secondary: #ffffff;
  --header-color: #232c48;
  --header-icon-color: #cac7c5;
  --content-background-color: #1a2039;
  --sidebar-background-color: #232c48;
  --sidebar-items-background-color: rgba(255, 255, 255, 0.2);
  --sidebar-font-color: rgb(255, 255, 255);
  --sidebar-font-color-hover: rgb(255, 255, 255);
  --footer-bg-color: #232c48;
  --box-shadow-primary: none;
  --header-border-bottom: 2px solid rgba(255, 255, 255, 0.15);
}

  

