 /*
    Flaticon icon font: Flaticon
    Creation date: 23/07/2019 04:35
    */

 @font-face {
   font-family: "Flaticon";
   src: url($flaticon_eot);
   src: url($flaticon_eot+"?#iefix") format("embedded-opentype"),
     url($flaticon_woff) format("woff"), url($flaticon_ttf) format("truetype"),
     url($flaticon_svg) format("svg");
   font-weight: normal;
   font-style: normal;
 }

 @media screen and (-webkit-min-device-pixel-ratio: 0) {
   @font-face {
     font-family: "Flaticon";
     src: url($flaticon_svg) format("svg");
   }
 }

 .fi:before {
   display: inline-block;
   font-family: "Flaticon";
   font-style: normal;
   font-weight: normal;
   font-variant: normal;
   line-height: 1;
   text-decoration: inherit;
   text-rendering: optimizeLegibility;
   text-transform: none;
   -moz-osx-font-smoothing: grayscale;
   -webkit-font-smoothing: antialiased;
   font-smoothing: antialiased;
 }

 .flaticon-keyboard-right-arrow-button:before {
   content: "\f100";
 }

 .flaticon-search:before {
   content: "\f101";
 }

 .flaticon-menu:before {
   content: "\f102";
 }

 .flaticon-clinic:before {
   content: "\f103";
 }

 .flaticon-woman:before {
   content: "\f104";
 }

 .flaticon-sex:before {
   content: "\f105";
 }

 .flaticon-heart:before {
   content: "\f106";
 }

 .flaticon-cold:before {
   content: "\f107";
 }

 .flaticon-sphygmomanometer:before {
   content: "\f108";
 }

 .flaticon-down-arrow:before {
   content: "\f109";
 }

 .flaticon-correct:before {
   content: "\f10a";
 }

 .flaticon-close:before {
   content: "\f10b";
 }

 .flaticon-lungs:before {
   content: "\f10c";
 }

 .flaticon-diskette:before {
   content: "\f10d";
 }

 .flaticon-close-1:before {
   content: "\f10e";
 }

 .flaticon-avatar:before {
   content: "\f10f";
 }

 .flaticon-blood-pressure:before {
   content: "\f110";
 }

 .flaticon-geometry:before {
   content: "\f111";
 }

 .flaticon-settings:before {
   content: "\f112";
 }

 .flaticon-star:before {
   content: "\f113";
 }

 .flaticon-star-1:before {
   content: "\f114";
 }

 .flaticon-arm:before {
   content: "\f115";
 }

 .flaticon-doctor:before {
   content: "\f116";
 }

 .flaticon-bed:before {
   content: "\f117";
 }

 .flaticon-sort-down:before {
   content: "\f118";
 }

 .flaticon-lab:before {
   content: "\f119";
 }

 .flaticon-lung:before {
   content: "\f11a";
 }

 .flaticon-rounded-add-button:before {
   content: "\f11b";
 }

 .flaticon-refresh:before {
   content: "\f11c";
 }

 .flaticon-pencil:before {
   content: "\f11d";
 }

 .flaticon-siren:before {
   content: "\f11e";
 }

 .flaticon-copy:before {
   content: "\f11f";
 }

 .flaticon-arrow:before {
   content: "\f120";
 }

 .flaticon-delete:before {
   content: "\f121";
 }

 .flaticon-dimension-of-line-height:before {
   content: "\f122";
 }

 .flaticon-weight-scale:before {
   content: "\f123";
 }

 .flaticon-calendar:before {
   content: "\f124";
 }

 .flaticon-clock:before {
   content: "\f125";
 }

 .flaticon-spreadsheet:before {
   content: "\f126";
 }

 .flaticon-line-graph:before {
   content: "\f127";
 }

 .flaticon-printer:before {
   content: "\f128";
 }

 .flaticon-eye:before {
   content: "\f129";
 }

 .flaticon-danger:before {
   content: "\f12a";
 }

 .flaticon-bed-1:before {
   content: "\f12b";
 }

 .flaticon-minimize:before {
   content: "\f12c";
 }

 .flaticon-expand:before {
   content: "\f12d";
 }

 .flaticon-success:before {
   content: "\f12e";
 }

 .flaticon-suit:before {
   content: "\f12f";
 }

 .flaticon-transgender:before {
   content: "\f130";
 }

 .flaticon-other-gender:before {
   content: "\f131";
 }

 .flaticon-fast-forward-double-right-arrows:before {
   content: "\f132";
 }

 .flaticon-pdf-file-format-symbol:before {
   content: "\f133";
 }

 .flaticon-excel:before {
   content: "\f134";
 }

 .flaticon-csv-file-format-extension:before {
   content: "\f135";
 }

 .flaticon-download:before {
   content: "\f136";
 }

 .flaticon-woman-1:before {
   content: "\f137";
 }

 .flaticon-user-male-black-shape:before {
   content: "\f138";
 }

 .flaticon-fast:before {
   content: "\f139";
 }

 .flaticon-car:before {
   content: "\f13a";
 }

 .flaticon-sink:before {
   content: "\f13b";
 }

 .flaticon-question:before {
   content: "\f13c";
 }

 .flaticon-undo:before {
   content: "\f13d";
 }

 .flaticon-miscellaneous:before {
   content: "\f13e";
 }

 .flaticon-plus-button:before {
   content: "\f13f";
 }

 .flaticon-age:before {
   content: "\f140";
 }

 .flaticon-gender:before {
   content: "\f141";
 }

 .flaticon-folder:before {
   content: "\f142";
 }

 .flaticon-save:before {
   content: "\f143";
 }

 .flaticon-remove:before {
   content: "\f144";
 }

 .flaticon-padlock:before {
   content: "\f145";
 }

 .flaticon-news:before {
   content: "\f146";
 }

 .flaticon-conversation:before {
   content: "\f147";
 }

 .flaticon-nurse:before {
   content: "\f148";
 }

 .flaticon-treatment:before {
   content: "\f149";
 }

 .flaticon-timeline:before {
   content: "\f14a";
 }

 .flaticon-medical-history:before {
   content: "\f14b";
 }

 .flaticon-heartbeat:before {
   content: "\f14c";
 }

 .flaticon-lovemaking:before {
   content: "\f14d";
 }

 .flaticon-checkup:before {
   content: "\f14e";
 }

 .flaticon-headset:before {
   content: "\f14f";
 }

 .flaticon-prescription:before {
   content: "\f150";
 }

 .flaticon-shopping-list:before {
   content: "\f151";
 }

 .flaticon-injury:before {
   content: "\f152";
 }

 .flaticon-cardiogram:before {
   content: "\f153";
 }

 .flaticon-ekg:before {
   content: "\f154";
 }

 .flaticon-clicker:before {
   content: "\f155";
 }

 .flaticon-information:before {
   content: "\f156";
 }

 .flaticon-more:before {
   content: "\f157";
 }

 .flaticon-bell:before {
   content: "\f158";
 }

 .flaticon-add:before {
   content: "\f159";
 }

 .flaticon-add-1:before {
   content: "\f15a";
 }

 .flaticon-plus:before {
   content: "\f15b";
 }

 .flaticon-report:before {
   content: "\f15c";
 }

 .flaticon-tick:before {
   content: "\f15d";
 }

 .flaticon-check:before {
   content: "\f15e";
 }

 .flaticon-name:before {
   content: "\f15f";
 }

 .flaticon-networking:before {
   content: "\f160";
 }

 .flaticon-user:before {
   content: "\f161";
 }

 .flaticon-management:before {
   content: "\f162";
 }

 .flaticon-technical-support:before {
   content: "\f163";
 }

 .flaticon-folder-1:before {
   content: "\f164";
 }

 .flaticon-logout:before {
   content: "\f165";
 }

 .flaticon-accept:before {
   content: "\f166";
 }

 .flaticon-stationery:before {
   content: "\f167";
 }

 .flaticon-blockchain:before {
   content: "\f168";
 }

 .flaticon-text:before {
   content: "\f169";
 }

 .flaticon-dental:before {
   content: "\f16a";
 }

 .flaticon-dictionary:before {
   content: "\f16b";
 }

 .flaticon-angle-arrow-down:before {
   content: "\f16c";
 }

 .flaticon-bell-1:before {
   content: "\f16d";
 }

 .flaticon-dashboard:before {
   content: "\f16e";
 }

 .flaticon-menu-1:before {
   content: "\f16f";
 }

 $font-Flaticon-keyboard-right-arrow-button: "\f100";
 $font-Flaticon-search: "\f101";
 $font-Flaticon-menu: "\f102";
 $font-Flaticon-clinic: "\f103";
 $font-Flaticon-woman: "\f104";
 $font-Flaticon-sex: "\f105";
 $font-Flaticon-heart: "\f106";
 $font-Flaticon-cold: "\f107";
 $font-Flaticon-sphygmomanometer: "\f108";
 $font-Flaticon-down-arrow: "\f109";
 $font-Flaticon-correct: "\f10a";
 $font-Flaticon-close: "\f10b";
 $font-Flaticon-lungs: "\f10c";
 $font-Flaticon-diskette: "\f10d";
 $font-Flaticon-close-1: "\f10e";
 $font-Flaticon-avatar: "\f10f";
 $font-Flaticon-blood-pressure: "\f110";
 $font-Flaticon-geometry: "\f111";
 $font-Flaticon-settings: "\f112";
 $font-Flaticon-star: "\f113";
 $font-Flaticon-star-1: "\f114";
 $font-Flaticon-arm: "\f115";
 $font-Flaticon-doctor: "\f116";
 $font-Flaticon-bed: "\f117";
 $font-Flaticon-sort-down: "\f118";
 $font-Flaticon-lab: "\f119";
 $font-Flaticon-lung: "\f11a";
 $font-Flaticon-rounded-add-button: "\f11b";
 $font-Flaticon-refresh: "\f11c";
 $font-Flaticon-pencil: "\f11d";
 $font-Flaticon-siren: "\f11e";
 $font-Flaticon-copy: "\f11f";
 $font-Flaticon-arrow: "\f120";
 $font-Flaticon-delete: "\f121";
 $font-Flaticon-dimension-of-line-height: "\f122";
 $font-Flaticon-weight-scale: "\f123";
 $font-Flaticon-calendar: "\f124";
 $font-Flaticon-clock: "\f125";
 $font-Flaticon-spreadsheet: "\f126";
 $font-Flaticon-line-graph: "\f127";
 $font-Flaticon-printer: "\f128";
 $font-Flaticon-eye: "\f129";
 $font-Flaticon-danger: "\f12a";
 $font-Flaticon-bed-1: "\f12b";
 $font-Flaticon-minimize: "\f12c";
 $font-Flaticon-expand: "\f12d";
 $font-Flaticon-success: "\f12e";
 $font-Flaticon-suit: "\f12f";
 $font-Flaticon-transgender: "\f130";
 $font-Flaticon-other-gender: "\f131";
 $font-Flaticon-fast-forward-double-right-arrows: "\f132";
 $font-Flaticon-pdf-file-format-symbol: "\f133";
 $font-Flaticon-excel: "\f134";
 $font-Flaticon-csv-file-format-extension: "\f135";
 $font-Flaticon-download: "\f136";
 $font-Flaticon-woman-1: "\f137";
 $font-Flaticon-user-male-black-shape: "\f138";
 $font-Flaticon-fast: "\f139";
 $font-Flaticon-car: "\f13a";
 $font-Flaticon-sink: "\f13b";
 $font-Flaticon-question: "\f13c";
 $font-Flaticon-undo: "\f13d";
 $font-Flaticon-miscellaneous: "\f13e";
 $font-Flaticon-plus-button: "\f13f";
 $font-Flaticon-age: "\f140";
 $font-Flaticon-gender: "\f141";
 $font-Flaticon-folder: "\f142";
 $font-Flaticon-save: "\f143";
 $font-Flaticon-remove: "\f144";
 $font-Flaticon-padlock: "\f145";
 $font-Flaticon-news: "\f146";
 $font-Flaticon-conversation: "\f147";
 $font-Flaticon-nurse: "\f148";
 $font-Flaticon-treatment: "\f149";
 $font-Flaticon-timeline: "\f14a";
 $font-Flaticon-medical-history: "\f14b";
 $font-Flaticon-heartbeat: "\f14c";
 $font-Flaticon-lovemaking: "\f14d";
 $font-Flaticon-checkup: "\f14e";
 $font-Flaticon-headset: "\f14f";
 $font-Flaticon-prescription: "\f150";
 $font-Flaticon-shopping-list: "\f151";
 $font-Flaticon-injury: "\f152";
 $font-Flaticon-cardiogram: "\f153";
 $font-Flaticon-ekg: "\f154";
 $font-Flaticon-clicker: "\f155";
 $font-Flaticon-information: "\f156";
 $font-Flaticon-more: "\f157";
 $font-Flaticon-bell: "\f158";
 $font-Flaticon-add: "\f159";
 $font-Flaticon-add-1: "\f15a";
 $font-Flaticon-plus: "\f15b";
 $font-Flaticon-report: "\f15c";
 $font-Flaticon-tick: "\f15d";
 $font-Flaticon-check: "\f15e";
 $font-Flaticon-name: "\f15f";
 $font-Flaticon-networking: "\f160";
 $font-Flaticon-user: "\f161";
 $font-Flaticon-management: "\f162";
 $font-Flaticon-technical-support: "\f163";
 $font-Flaticon-folder-1: "\f164";
 $font-Flaticon-logout: "\f165";
 $font-Flaticon-accept: "\f166";
 $font-Flaticon-stationery: "\f167";
 $font-Flaticon-blockchain: "\f168";
 $font-Flaticon-text: "\f169";
 $font-Flaticon-dental: "\f16a";
 $font-Flaticon-dictionary: "\f16b";
 $font-Flaticon-angle-arrow-down: "\f16c";
 $font-Flaticon-bell-1: "\f16d";
 $font-Flaticon-dashboard: "\f16e";
 $font-Flaticon-menu-1: "\f16f";
