 /*
    Flaticon icon font: Flaticon
    Creation date: 23/07/2019 04:35
    */

 @font-face {
   font-family: "Flaticon";
   src: url($flaticon_eot);
   src: url($flaticon_eot+"?#iefix") format("embedded-opentype"),
     url($flaticon_woff) format("woff"), url($flaticon_ttf) format("truetype"),
     url($flaticon_svg) format("svg");
   font-weight: normal;
   font-style: normal;
 }

 @media screen and (-webkit-min-device-pixel-ratio: 0) {
   @font-face {
     font-family: "Flaticon";
     src: url($flaticon_svg) format("svg");
   }
 }

 .fi:before {
   display: inline-block;
   font-family: "Flaticon";
   font-style: normal;
   font-weight: normal;
   font-variant: normal;
   line-height: 1;
   text-decoration: inherit;
   text-rendering: optimizeLegibility;
   text-transform: none;
   -moz-osx-font-smoothing: grayscale;
   -webkit-font-smoothing: antialiased;
   font-smoothing: antialiased;
 }

 .flaticon-web-page:before { content: "\f100"; }
.flaticon-donor:before { content: "\f101"; }
.flaticon-blood-donation:before { content: "\f102"; }
.flaticon-blood-donation-1:before { content: "\f103"; }
.flaticon-blood:before { content: "\f104"; }
.flaticon-blood-donation-2:before { content: "\f105"; }
.flaticon-blood-donation-3:before { content: "\f106"; }
.flaticon-blood-1:before { content: "\f107"; }
.flaticon-blood-donation-4:before { content: "\f108"; }
.flaticon-blood-donation-5:before { content: "\f109"; }
.flaticon-blood-drop:before { content: "\f10a"; }
.flaticon-blood-donation-6:before { content: "\f10b"; }
.flaticon-blood-donation-7:before { content: "\f10c"; }
.flaticon-blood-donation-8:before { content: "\f10d"; }
.flaticon-blood-donation-9:before { content: "\f10e"; }
.flaticon-blood-donation-10:before { content: "\f10f"; }
.flaticon-file:before { content: "\f110"; }
.flaticon-donor-1:before { content: "\f111"; }
.flaticon-dashboard:before { content: "\f112"; }
    
    $font-Flaticon-web-page: "\f100";
    $font-Flaticon-donor: "\f101";
    $font-Flaticon-blood-donation: "\f102";
    $font-Flaticon-blood-donation-1: "\f103";
    $font-Flaticon-blood: "\f104";
    $font-Flaticon-blood-donation-2: "\f105";
    $font-Flaticon-blood-donation-3: "\f106";
    $font-Flaticon-blood-1: "\f107";
    $font-Flaticon-blood-donation-4: "\f108";
    $font-Flaticon-blood-donation-5: "\f109";
    $font-Flaticon-blood-drop: "\f10a";
    $font-Flaticon-blood-donation-6: "\f10b";
    $font-Flaticon-blood-donation-7: "\f10c";
    $font-Flaticon-blood-donation-8: "\f10d";
    $font-Flaticon-blood-donation-9: "\f10e";
    $font-Flaticon-blood-donation-10: "\f10f";
    $font-Flaticon-file: "\f110";
    $font-Flaticon-donor-1: "\f111";
    $font-Flaticon-dashboard: "\f112";