<div class="module">
    <ul class="module__container">
        <li class="module__item">
            <div class="module__icon"></div>
            <h4 class="module__title"></h4>
        </li>
        <li class="module__item">
            <div class="module__icon"></div>
            <h4 class="module__title"></h4>
        </li>
        <li class="module__item">
            <div class="module__icon"></div>
            <h4 class="module__title"></h4>
        </li>
        <li class="module__item">
            <div class="module__icon"></div>
            <h4 class="module__title"></h4>
        </li>
        <li class="module__item">
            <div class="module__icon"></div>
            <h4 class="module__title"></h4>
        </li>
        <li class="module__item">
            <div class="module__icon"></div>
            <h4 class="module__title"></h4>
        </li>
        <li class="module__item">
            <div class="module__icon"></div>
            <h4 class="module__title"></h4>
        </li>
        <li class="module__item">
            <div class="module__icon"></div>
            <h4 class="module__title"></h4>
        </li>
        <li class="module__item">
            <div class="module__icon"></div>
            <h4 class="module__title"></h4>
        </li>
        <li class="module__item">
            <div class="module__icon"></div>
            <h4 class="module__title"></h4>
        </li>
    </ul>
</div>